<h1>A Resolver App</h1>
<ul>
    <li><%= link_to 'Alumnos', students_path %></li>
    <li><%= link_to 'Tutores', tutors_path %></li>
    <li><%= link_to 'Tutorias', tutorings_path %></li>
    <li><%= link_to 'Representantes', parents_path %></li>
	<li><%= link_to 'Pagos', payments_path %></li>
</ul>

<%= form_with do |form| %>
  Que accion va a ejecutar?, solo get index porque no se crearon mas acciones ni mas vistas
<% end %>
<br>
<form action="/home/index" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="e4j06NR0Tib16D7Re0TBSyCEOX0rOpNzjlhaviwzpoxqdFvLY21akFx9cxxXtjlmEiABPhUHySMdiG1rTHsqxg" />
  <p>Que accion va a ejecutar?, la que diga el formulario con el metodo que diga el formulario jajaja</p>
  <p>La accion sobre la que tiene programada respuesta es get de la ruta / root</p>
  <input type="submit" value="Submit">
</form>
