<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :college %>
    <%= form.text_field :college %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  
  <% if @tutoring.student.nil? || @tutoring.tutor.nil? %> <%# Nueva tutoria no usa selected value%>
    <div class="field">
	  <%= form.label :Tutor %>
	  <%= select_tag "tutor_id", options_from_collection_for_select(@tutors, "id", "name")%>
    </div>
	<div class="field">
	  <%= form.label :Student %>
	  <%= select_tag "student_id", options_from_collection_for_select(@students, "id", "name")%>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :Tutor %>		  
      <%= select_tag "tutor_id", options_from_collection_for_select(@tutors, "id", "name", @tutoring.tutor.id)%>
    </div>
	<div class="field">
	  <%= form.label :Student %>  
	  <%= select_tag "student_id", options_from_collection_for_select(@students, "id", "name", @tutoring.student.id)%>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
