<h1>A Resolver Staging Branch</h1>
<p>Editing from Windows 8 and runing on Linux</p>
<p>Como si tuviera todas las dependencias instaladas en mi maquina</p>
<p>Trabajando en una rama llamada api</p>
<ul>
    <li><%= link_to 'Alumnos', students_path %></li>
    <li><%= link_to 'Tutores', tutors_path %></li>
    <li><%= link_to 'Tutorias', tutorings_path %></li>
    <li><%= link_to 'Representantes', parents_path %></li>
	<li><%= link_to 'Pagos', payments_path %></li>
</ul>

